body{
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
}
legend{
    background: antiquewhite;
}
.container{
    margin-top:20px;
}
.table>thead>tr>th{
    background: #383737;
    color: white;
}
.lb-result{
    padding-left: 0px;
}

.well{
    background-image: linear-gradient(to bottom,#e8a7a5 0,#f5f5f5 100%);
   }
   legend {
       background: #9ddaec;
   }

#success_message{ display: none;}